
body {
    background-color: #2B2E44;
    color : #b2b7dc;
}

.btn-none {
    background-color: transparent;
}

.cal-vue-dept {
	flex:1;
}

.row-user:nth-child(odd) {
	background-color: #393c52
	;
}


 



/* 
.bg-primary {
    background-color: red;
}  */
/* 

:nth-child(odd) et :nth-child(even) */
/* 
.bg-one {
    background-color: #875FC0;
}   

.bg-two {
    background-color: #403A5E;
}   



.bg-three {
    background-color: #FFB827;
}    */

/* couleur vert de base :
#0BCD6A */


/* 


.bg-four {
    background-color: #FC994E;
}   

 */






