
body {
    background-color: #2B2E44;
    color : #b2b7dc;
}

.btn-none {
    background-color: transparent;
}

.cal-vue-dept {
	flex:1;
}

.row-user:nth-child(odd) {
	background-color: #393c52
	;
}


 .cal-vue-conge:nth-child(odd) {
	background-color: #393c52;
	}
	
 .attente {
	color:#ff8000;
}

.validee {
	color:green;
}

 .refusee {
	color:red;
}

 .weekend {
	background-color:rgba(35, 36, 45, 0.5);

}

.nom {
	background-color:rgba(76, 75, 90, 0.5);
}
 .base {
	/*background-color:white;*/
}



.feather:hover {
  cursor: pointer;
  stroke-width: 1.75;
  transform: scale(1.25);
  transform-origin: center;
  transition: all 0.1s ease;
}

.feather:ACTIVE {
	transform: scale(1);
}




/* ----- Couleurs ----------- */

.bg-fonce-01 {
	background-color: #232638;
}



/* -------------------------- */

/* 
.bg-primary {
    background-color: red;
}  */
/* 

:nth-child(odd) et :nth-child(even) */
/* 
.bg-one {
    background-color: #875FC0;
}   

.bg-two {
    background-color: #403A5E;
}   



.bg-three {
    background-color: #FFB827;
}    */

/* couleur vert de base :
#0BCD6A */


/* 


.bg-four {
    background-color: #FC994E;
}   

 */






